/* stylelint-disable selector-max-specificity */
body {
  background-color: black;
  color: rgb(205, 202, 202);
  display: flex;

  /* justify-content: center; */

  /* background-image: url('../images/boat-5889919.png'); */

  /* background-image: url('../images/mesh-1430107.png'); */

}

h1 {
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
  margin-top: 60px;
  padding: 10px;

  /* width: 350px; */
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 50px;

  /* margin: auto; */

  /* max-width: 800px; */
}

input, select, textarea, image {
  border-radius: 14px;
  display: flex;
  height: 50px;

  /* justify-content: start; */
  margin-bottom: 20px;
  margin-right: 20px;
  text-decoration: none;

  /* width: 400px; */
}

/* .labelCheck {
  color: aqua;
} */

button {
  background-color: rgba(247, 98, 6, 0.886);
  color: white;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
  height: 60px;
  text-decoration: none;

  /* width: 400px; */
}

.div-containerP {
  background-color: rgba(250, 246, 238, 0.772);
  border: 2px solid rgb(249, 246, 246);
  color: black;
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-left: 50px;

  /* flex-wrap: inherit; */
}

h3 {
  margin-left: 50px;
}
