/* stylelint-disable selector-max-specificity */
body {
  background-color: black;
  background-image: url('https://www.wallpapertip.com/wmimgs/82-822560_imagens-full-hd-tecnologia.jpg');
  color: white;
  display: flex;
  justify-content: center;
}

h1 {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 30px;
  width: 350px;
}

.form {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 800px;
}

input, select, textarea, image {
  border-radius: 14px;
  display: flex;
  height: 50px;

  /* justify-content: start; */
  margin-bottom: 20px;
  margin-right: 20px;
  text-decoration: none;
  width: 400px;
}

.labelCheck {
  color: aqua;
}

button {
  background-color: rgba(247, 98, 6, 0.886);
  color: white;
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
  height: 60px;
  text-decoration: none;
  width: 400px;
}

p {
  background-color: rgba(250, 246, 238, 0.772);
  border: 2px solid rgb(249, 246, 246);
  color: black;
  display: flex;
  flex-wrap: inherit;
  height: 50px;
}
